#pokemon{
    width: 96px;
    text-align: center;
}

#habilidades{
    width: 400px;
}

.efeito{
    margin-left: 20px;
}

header{
    display: flex;
    justify-content: center;
    background-color: 'red';
    margin-bottom: 10px;
}

main{
    display: flex;
    justify-content: space-around;
}
